@(project:String, graph:GraphData)

@main("Asana Graph") {

	<h1>@{project}</h1>
    
    <div id="burnDown"></div>

	<script type="text/javascript">
		var drawGraph = function(id, data) {
			new Morris.Line({
				// ID of the element in which to draw the chart.
				element : id,
				// Chart data records -- each entry in this array corresponds to a point on
				// the chart.
				data : data,
				// The name of the data record attribute that contains x-values.
				xkey : 'day',
				// A list of names of data record attributes that contain y-values.
				ykeys : [ 'planned', 'done' ],
				// Labels for the ykeys -- will be displayed when you hover over the
				// chart.
				labels : [ 'Planifié', 'Fait' ]
			});
		}

		drawGraph("burnDown", @Html(graph.data));
	</script>
}
